{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href={% static "form.css" %}>
{% endblock %}
{% block main_container %}
<form
    action="/add-plant/"
    method="post"
    class="form"
    enctype="multipart/form-data"
>
    {% csrf_token %}
    {{ form.name }}
    {{ form.price }}
    {{ form.description }}
    <p style="margin-top: 40px; margin-bottom: 0; padding: 0;">Upload Plants Images (at least 1)</p>
    {{ image_formset.management_form }}
    {% for form in image_formset %}
    {{ form.image }}
    {% endfor %}
    <input type="submit" value="Add Plant" class="button" />
</form>
{% endblock %}
